[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Wish a good start!
[access "refs/*"]
	owner = group user/Severin (newPacifics)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Severin (newPacifics)
	label-Verified = -1..+1 group user/Severin (newPacifics)
	push = group user/Severin (newPacifics)
	read = group user/Severin (newPacifics)
	rebase = group user/Severin (newPacifics)
	removeReviewer = group user/Severin (newPacifics)
	submit = group user/Severin (newPacifics)
[access "refs/heads/*"]
	create = group user/Severin (newPacifics)
	push = +force group user/Severin (newPacifics)
	pushMerge = group user/Severin (newPacifics)
	read = group user/Severin (newPacifics)
[access "refs/tags/*"]
	push = group user/Severin (newPacifics)
	push = +force group user/Severin (newPacifics)
